* {
    padding: 0;
    margin: 0;
}

html{
    background-color: #F0C1D6;
}

#titulo {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 40px auto;
    font-family: 'Tangerine', cursive;
}

.contenedorParrafo {
    width: 95%;
    text-align: center;
    margin: 0px 22px;
}

.parrafo {
    display: none;
}

.parrafoMobile {
    font-family: 'Roboto Flex';
    font-size: 15px;
    width: 95%;
}

.calculaTuAmor {
    margin: 80px 30px 50px 20px;
    border-radius: 10px;
    height: 285px;
    background: rgba(255, 255, 255, 1);
    border-top: solid 40px #f03687;
}

.calculadora{
    margin-top: -39px;
}

.calculadoraTitulo{
    width: 24px;
    margin: 5px 0px 0px 16px;
}

.parrafoCalculadora{
    margin: -28px 0px 0px 55px;
    font-family: 'Roboto Flex';
    color: #FFFFFF;
}

.nombreUno {
    width: 100%;
    margin: 15% 5% 0% 5%;
}

.nombreDos {
    width: 100%;
    margin: 0% 5%;
}

#inputUno {
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

.signoMas {
    display: none;
}

#inputDos {
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

#boton {
    font-family: 'roboto flex';
    float: right;
    margin: 15px 12px 0px 0px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #F03687;
}

.campoObligatorio {
    display: none;
}

#ocultos{
    width: 100%;
    text-align: center;
    margin-top: 130px;
    display: none;
}

#corazonRosa{
    width: 200px;
    position: relative;
    display: none;
    margin: 0px auto;
}

#corazonAzul{
    width: 200px;
    position: relative;
    display: none;
    margin: 0px auto;
}

#porcentaje{
    position: relative;
    margin-top: -150px;
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 80px;
    font-family: 'Italianno';
}

#otraVez{
    padding: 10px;
    margin-top: 170px;
    border-radius: 4px;
    border: none;
    font-family: 'Rufina';
    color: #FFFFFF;
    background-color: #F03687;
}

@media (min-width: 780px) {
    .parrafo {
        display: block;
        width: 640px;
        margin: 15px auto;
    }

    .parrafoMobile {
        display: none;
    }

    .contenedorParrafo {
        width: 100%;
        text-align: center;
        margin: 0px 0px;
    }

    .parrafoCalculadora{
        margin: -28px 0px 0px 58px;
        width: 120px;
    }

    .nombreUno{
        width: 350%;
        margin: 56% -237%;
    }

    .signoMas{
        display: block;
        margin: 59px 0px 0px -47px;
    }

    .nombreDos{
        width: 380%;
        margin: 56% -243%;
    }

    .calculaTuAmor {
        width: 616px;
        margin: 90px auto;
        height: 156px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    #boton{
        margin: 58px 30px 0px -20px;
    }

    .campoObligatorio{
        display: grid;
        width: 300px;
        margin-top: -13px;
        font-family: 'Roboto Flex';
    }
}